.YearWrapper{
    z-index: 2;
    position: absolute;
    display: flex;
    width: 500px;
    background-image:  var(--gradientColor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Unbounded';
    font-weight: 100;
    font-size:clamp(10px, 1.5vw, 15px) ;
    margin-top:min(-350px, -45%) ;
    margin-left: 5%;
}
.Year{
    position: relative;
    display: block;
    font-size:clamp(20px, 5vw, 35px);
}
.YearDescription{
    display: block;
    
    margin-left: 5%;
    position: relative;
}

@media (max-width: 768px) {
    .YearWrapper{
        margin-top:min(-500px, -50%) ;
    }
}